# Dependencies
node_modules/
pnpm-lock.yaml

# Build output
lib/
dist/
coverage/

# Cache
.cache/
*.cache
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Markdown files
*.md
*.markdown

# Documentation
docs/
README.md
CHANGELOG.md
LICENSE